.background {
  background-color: black;
  height: 64px;
}

.margin {
  margin-left: 60px;
  width: 450px;
  justify-content: space-between;
  color: hsl(0, 0%, 68%);
}

li {
  align-self: center;
  padding: 7px;
}

li:hover {
  background-color: #595959;
  color: black;
  border-radius: 19px;
}

.color {
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: none;
}

.color:hover {
  color: white;
}

.button {
  border-radius: 19px;
  margin-right: 32px;
  height: 38px;
  outline: none;
  border: none;
  width: 100px;
}

.button:hover {
  background-color: black;
  color: white;
}

.navbar-toggler {
  padding: 10px 6px;
  border: none;
  background: white;
  outline: none;
}

/********************************Main*********************************/
.content {
  background-attachment: fixed;
  background-image: url("https://images8.alphacoders.com/118/thumb-1920-1188016.jpg");
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.text {
  margin: auto;
  align-content: center;
  color: white;
  padding-top: 23px;
  margin-bottom: 36px;
}

.text h3 {
  text-align: center;
  font-size: 20px;
}

.text h4 {
  text-align: center;
  font-size: 14px;
}

.page {
  margin-top: 63px;
  height: 240px;
  display: flex;
  border: 1px solid black;
  margin: auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}


.section {
  display: flex;
  flex-direction: row;
}

.cards {
  height: 202px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  position: relative;
  width: 365px;
  border-radius: 24px;
  background-color:#EEEEEE;
; 
 
  transition: all  0.5s ease;
}

.cards2 {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 556px;
  height: 201px;
  
  border-radius: 24px;
  background-color:#EEEEEE; 
}

.cards3 {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 556px;
  height: 201px;
  border-radius: 24px;
  background-color:#EEEEEE; 
}

.logo{
    width: 62px;
    height: 63px;
    align-self: center;
}

.img-container{
  align-content: center;
  display: flex;
  justify-content: center;
}

.innerpart{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-content: center;
  width: 60%;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  height: 80%;
  font-size: 12px;
}

.para{
  font-weight: 100;
}

.btn-abt-us{
  border-radius: 25px;
  margin-right:80px;
  padding : 6px 18px 6px 18px; 
  font-weight: 600;
}














/**************************Responsive***************************/

@media screen and (max-width: 600px) {
 

  .text{
    display: block;
  }

  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cards{
    width: 80%;
    margin-top: 10px
  }
  .cards2{
     width: 80%;
     margin-top: 10px
  }
  .cards3{
     width: 80%;
     margin-top: 10px
  }
}